.fondo{
  background-color: #FFFAFA;
}
h1{
  margin: 0px 50px 10px 300px;
}
p{
   text-align: center;
}
.lista{
  color: #008080;
  padding: 10px 5px;
}
img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 160px;
}